Flask==2.2.2
flask-restx==1.0.5
flask_cors==3.0.10
numpy==1.24.1
pandas==1.2.3
psycopg2==2.8.6
requests==2.25.1
simplejson==3.17.2
matplotlib==3.4.1
pdfkit==0.6.1
PyPDF2==3.0.1
openpyxl==3.0.7
Jinja2==3.0.3
Werkzeug==2.2.2
sqlalchemy==1.4.21
itsdangerous==2.0.1
psutil==5.8.0
pysftp==0.2.9